In [1]:
import pandas as pd

In [32]:
data = pd.read_excel('data.xlsx')
data = data.tail(72)
data = data.head(30)
data.reset_index(inplace=True, drop=True)

In [33]:
data = data.drop(['Jam', 'Tanggal Jam', 'Belum Ada Data', 'Tanpa Gejala', 'Total Pasien', 'Masih Perawatan', 'Bergejala',
                  'Self Isolation'],axis=1)
data = data.rename(columns={'Tanggal': 'Date', 'Meninggal': 'Deaths', 'Sembuh': 'Recoveries', 
                            'Positif Harian': 'Daily Positive Cases', 'Sembuh Harian': 'Daily Recoveries',
                            'Positif Aktif': 'Active Cases'})

In [35]:
data
data.to_csv('df.csv')

In [38]:
asd = data
asd.set_index('Deaths').diff()

,Date,Recoveries,Daily Positive Cases,Active Cases,Daily Recoveries
Deaths,,,,,
7349,NaT,NaN,NaN,NaN,NaN
7361,1 days,586.0,82.0,3.0,67.0
7381,1 days,501.0,113.0,193.0,-85.0
7402,1 days,816.0,192.0,69.0,315.0
7423,1 days,821.0,411.0,475.0,5.0
7438,1 days,864.0,-298.0,140.0,43.0
7457,1 days,813.0,178.0,365.0,-51.0
7478,1 days,1003.0,-442.0,-269.0,190.0
7499,1 days,1112.0,616.0,238.0,109.0
7523,1 days,1102.0,725.0,970.0,-10.0
7543,1 days,1185.0,197.0,1088.0,83.0
7557,1 days,725.0,162.0,1716.0,-460.0
7571,1 days,935.0,314.0,1820.0,210.0
7609,1 days,1032.0,-47.0,1652.0,97.0
7634,1 days,1329.0,-1220.0,148.0,297.0
7665,1 days,1278.0,874.0,1067.0,-51.0
7713,1 days,2069.0,1768.0,2027.0,791.0
7777,1 days,2500.0,593.0,2173.0,431.0
7836,1 days,2235.0,158.0,2601.0,-265.0
7905,1 days,2483.0,687.0,3030.0,248.0
7976,1 days,3025.0,-568.0,1918.0,542.0
8014,1 days,3052.0,-1793.0,131.0,27.0
8057,1 days,1136.0,1472.0,3514.0,-1916.0
8107,1 days,2523.0,2812.0,4932.0,1387.0
8177,1 days,2570.0,-571.0,4294.0,47.0
8220,1 days,2725.0,2337.0,6503.0,155.0
8269,1 days,3484.0,123.0,5861.0,759.0
8348,1 days,3438.0,-1046.0,4831.0,-46.0
8426,1 days,3504.0,-969.0,3797.0,66.0
8486,1 days,3504.0,301.0,4116.0,0.0